.loading{
  align-items: center;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  height: 100vh;
  position: relative;
}

.main-wrapper{
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
}

.radio-wrapper{
  justify-content: space-evenly;
}

.pagination-wrapper{
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  margin: 15px 110px 15px 110px;
}

.card-wrapper{
  width: 100%;
  display: flex;
  -webkit-flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.card-wrapper .temp{
  margin: 20px;
  border: 5px;
  height: 165px;
  width: 250px;
  z-index: 10;
}
.card-wrapper .select-card{
  border: 1px solid;
}

.card-wrapper .temp .temp2:hover {
  position: absolute;
  z-index: 9;
  background: #ffff;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 25px 45px;
}
.card-wrapper .temp .temp2 .weather-description-wrapper{
  display: flex;
  align-items: center;
  font-size: 12px;
}

.card-wrapper .temp .temp2 .weather-wind-wrapper{
  display: flex;
  font-size: 12px;
  justify-content: flex-end;
  margin-right: 23px;
}

.card-wrapper .temp .temp2 .weather-description-wrapper .weather-description{
  align-items: center;
  width: 35px;
  height: 35px;
}

.chart-wrapper{
  width: 70%;
  margin: auto;
}

.bottom-wrap {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

::-webkit-scrollbar { display:none }

@-moz-document url-prefix() {
  html,body{scrollbar-width: none;}
}

/*Set Pagination icon and chart width upto max width 600px*/
@media screen and (max-width: 600px) {
  .pagination-wrapper{
    margin: 15px;
  }

  .chart-wrapper {
    width: 100%;
    margin: auto;
  }
}

#bottom-axis-container div svg {
  height: 25px;
}
